html {
  background-image: url(back2-image.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(232, 236, 255, 0.53);
  font-family: 'Questrial', sans-serif;
  margin: -16px;

}

nav ul li {
  display: inline;
  padding: 1%;
  text-decoration: none;
}

li {
  float: right;
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: rgba(58, 77, 177, 0.9);
  font-size: 20px;

}

.name {
  text-decoration: none;
  font-size: 45px;
  margin-left: 12%;
  margin-bottom: 50px;
  color: rgba(58, 77, 177, 0.9);
}

nav p {
  color: rgba(255, 255, 255, 1);
  margin-left: 11%;
}

section > h1 {
  color: rgba(255, 255, 255, 1);
  text-align: center;

}
section {
  height: 75px;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;

}

#grid {
  display: grid;
  grid-template: 65% 65% / 35% 35%;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 4%;

}

.block {
 background-color: white;
 border-radius: 10px;
 opacity: .5;
 position: relative;
 box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
 transition: .5s;
}

.block::after {
 position: absolute;
 border-radius: 5px;
 box-shadow: 5px 15px rgba(0,0,0,0.3);
}

.block:hover {
  transform: scale(1.05, 1.05); /*value: height, width*/
  opacity: 1;
}

.block p {
  color: rgba(65, 65, 65, 0.95);
  text-align: center;
  margin-top: 12%;
  font-size: 20px;
  line-height: 30px;


}

.block h1 {
  text-align: center;
  color: rgba(58, 77, 177, 0.9);
}

footer {
  margin-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: rgba(58, 77, 177, 0.9);
  line-height: 20px;
}

footer a {
  text-decoration: none;
  color: rgba(58, 77, 177, 0.9);
}

.icon1 img {
  width: 3.5%;
  margin-top: 20%;
  margin-left: 48%;
}

.icon2 img {
  width: 3.5%;
  margin-left: 48%;
}
