body {
  background-color: rgba(238, 234, 234, 0.95);
}

ul li {
  display: inline;
  font-family: sans-serif;
  padding: 1%;
  text-decoration: none;
}

li {
  float: right;
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: rgba(58, 77, 177, 0.9);

}

#name {
  text-decoration: none;
  font-size: 45px;
  margin-left: 12%;
  margin-bottom: 50px;
  color: rgba(58, 77, 177, 0.9);
}
