body {
  background-color: rgba(167, 181, 253, 0.45);
}

nav ul li {
  display: inline;
  font-family: sans-serif;
  padding: 1%;
  text-decoration: none;
}

li {
  float: right;
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: rgba(58, 77, 177, 0.9);
  font-size: 20px;

}

.name {
  text-decoration: none;
  font-size: 45px;
  margin-left: 12%;
  margin-bottom: 50px;
  color: rgba(58, 77, 177, 0.9);
}

section > h1 {
  color: rgba(255, 255, 255, 1);
  text-align: center;

}
section {
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  height: 75px;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;

}

p {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

#grid {
  display: grid;
  grid-template: 65% 65% / 35% 35%;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 10%;

}

.block {
 background-color: white;
 border-radius: 10px;
 opacity: .3;
 position: relative;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.block::after {
 position: absolute;
 opacity: 1;
 border-radius: 5px;
 box-shadow: 5px 15px rgba(0,0,0,0.3);
 transition: opacity 1s ease-in-out;
}

.block:hover {
  transform: scale(1.05, 1.05);
  opacity: 1;
}

.block:hover::after {
  opacity: 1;
}

.block p {
  color: rgba(130, 130, 130, 0.9);
  text-align: center;
  margin-top: 20%;
  font-size: 20px;

}

.block h1 {
  text-align: center;
  color: rgba(58, 77, 177, 0.9);
}
